          <table class="table table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th>Title</th>
                <th>Created at</th>
              </tr>
            </thead>
            <tbody>
              <%- for project in @projects %>
                <tr>
                  <td><%= project.title %></td>
                  <td><%= project.created_at %></td>
                </tr>
              <%- end %>
            </tbody>
          </table>
 
